@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bebas+Neue&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: #CFDCD3;
    background-color: #E8EFEA;
    color: #4E7D64;
    font-size: 20px;
    font-family: 'Amiri', serif;
}
.dark-mode {
    background-color: #4E7D64;
    color: #B7C9BC;
}
.header {
    background-color: #ccc;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
    background-position: center;
}
.header-dark {
  background-color: #1C1860;
  background-image: url('https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
    background-position: center;
}
.main-title {
    text-align: center;
    justify-content: center;
}
/* madelines code, will rewrite later */
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 30px;
    background-color: #B0C4B9;
}

nav .left {
  position: fixed;
  width: 100%;
  background-color: #39604B;
  color: yellow;
  left: 0;
  top: 0;
  padding: 60px;
  display: block;
  height: 100vh;
  left: -200vw;
  transition: left 250ms ease;
  box-sizing: border-box;
  text-align: left;
}
.fix {
  background-color: lightgray;
}
nav button span{
  height: 2px;
  width: 20px;
  margin: 4px 0;
  background-color: #4E7D64;
  display: block;
}
nav button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
nav > * {
  text-align: center;
}

nav ul {
  list-style: none;
}

 nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.open .left {
  position: fixed;
  left: 0vw;
}

.close {
 text-align: right;
 color: white;
 position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
}

.left a{
  font-weight: 400;
  letter-spacing: 1px;
}

.left {
  justify-content: flex-start;
}

.left a {
  margin-right: 30px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-title {
  margin-top: 5vh;
  color: #4E7D64;
  text-align: center;
}

.main-title p {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  font-weight: 100;
}
.dark-mode-container {
    align-items: center;
    text-align: center;
}

/* Toggle - the box around the slider */

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #50502F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #50502F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .main-body {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }
  .about-me {
   font-family: 'Amiri', serif;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   font-size: 2rem;
   text-align: center;
   align-items: center;
   justify-content: center;
   /* background-color: #5A8970; */
  }
  .about-me h3 {
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
  }

  .projects-wrapper {
    /* background-color: #4B755E; */
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    
  }
  .projects-h3 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
  }
  /* max width fixed overflow bug */
 .project-item img{
    max-width: 100%;
    border: 4px solid #4E7D64;
    border-radius: 1rem;
  }
  .projects-h3-inside {
    display: none;
  }
  .contact-me {
    text-align: center;
    color: black;
  }
  .contact-me button {
    background-color: white;
    margin: 0 1rem 0 1rem;
    padding: .5rem;
    border: 3px solid #B6C6BB;
    border-radius: 1rem;
    text-align: center;
  }
  .contact-me button:hover {
    background-color: #4E7D64;
  }
  .contact-me a {
    color: #4E7D64;
    text-decoration: none;
    text-align: center;
  }
  .contact-me a:hover {
    color: #B6C6BB;
  }
  footer {
    /* background-color: #C9D6CD; */
    text-align: center;
    color: black;
  }
  .contact-form {
    display: none;
  }

  /* tablet */
  @media screen  and (min-width: 768px) {
    .header nav .left {
      display: flex;
      position: initial;
      height: initial;
      padding: 0;
      background-color: transparent;
    }
  
    nav button {
      display: none;
    }
    .projects-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    .projectItems {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .item1 {
      grid-column: 1;
    }
    .project-item p {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .project-item p a {
      padding-top: 5px;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      background-color: white;
      color: #4D7E68;
      border: 3px solid #B6C6BB;
      border-radius: 1rem;
    }
    .project-item p a:hover {
      color: #B6C6BB;
      background-color: #4E7C63;
    }
    .contact-form {
      display: block;
    }
    input[type=text], textarea, select {
      width: 100%;
      background-color: white;
      border: 2px solid #B6C6BB;
    }
    input[type=submit] {
      color: #4E7D64;
      border: 2px solid #B6C6BB;
      border-radius: .5rem;
      text-align: center;
    }
    nav {
      box-shadow: 5px 0 18px black;
    }
    nav ul{
      margin: 0;
    }
  }
  /* desktop */
  @media screen and (min-width: 1024px) {

    .header {
      background-size: cover;
    }
    .projects-h3 {
      display: none;
    }
    .projects-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      margin-bottom: 0;
      column-gap: 15px;
      row-gap: 0;
      height: 100vh;
    }
    .projectItems {
      overflow-y: scroll;
      height: 100vh;
    }
    .project-item  {
      grid-column: 1;
    }
    .item1 {
      grid-row: 1;
    }
    /* .project-item p {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .project-item p a {
      padding-top: 5px;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      background-color: white;
      color: #4D7E68;
      border: 3px solid #B6C6BB;
      border-radius: 1rem;
    }
    .project-item p a:hover {
      color: #B6C6BB;
      background-color: #4E7C63;
    } */
    /* is there a way to span all the row instead of hardcoding */
    .projects-wrapper .h3 {
      grid-column: 2;
      grid-row: 1 / 5;
      height: 100%;
      width: 100%;
      background-color: #b0c4b9;
    }
     .projects-h3-inside {
      display: grid;
      grid-column: 2;
      grid-row: 1;
      /* height: 100%; */
      margin-top: 50vh;
      font-family: 'Bebas Neue', serif;
      font-size: 2rem;
    }
    .about-me {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .about-me h3 {
      margin-top: 50vh;
    }
    .about-me div {
      background-color: #b0c4b9;
      height: 100%;
    }
    .contact-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;
      
    }
    .contact-me {
      background-color: #b0c4b9;
    }
    .contactChildren{
      margin-top: 50vh;
    }
    .contact-form {
      margin-top: 40vh;
      margin-left: 10px;
      text-align: center;
    }
  }